<!-- Loading CSS file -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
<!-- Page that displays songs

<img src="{{ album.album_logo }}">
<h1>{{ album.album_title}}</h1>
<h3>{{album.artist}}</h3>

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}


<!-- Since in this it selects the song to add to favorite, Now the value of
     radio button is song id and it's name is song so in post in a variable named song the 
    valu is the song.id-->
<!-- <form action="/music/{{album.id}}/favorite/" method="POST">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{song.id}}"/>
        <label for="song{{ forloop.counter }}">
            {{song.song_title}}{{song.is_favorite}}
            {% if song.is_favorite %}
                <img src="http://i.imgur.com/b9b13Rd.png" alt="Fav"/>
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="favorite">
</form> -->


<img src="{{ album.album_logo }}" alt="">

<h1>{{ album.album_title }}</h1>
<h2>{{ album.artist }}</h2>

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form class="" action="/music/{{album.id}}/favorite/" method="post">
  {% csrf_token %}
  {% for song in album.song_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
    <label for="song{{ forloop.counter }}">
      {{ song.song_title }}
      {% if song.is_favourite %}
        <img src="http://i.imgur.com/b9b13Rd.png" alt="*">
      {% endif %}
    </label><br>
  {% endfor %}
  <input type="submit" value="Favorite">
</form>